<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path 'photo-1513470939372-bd520e7d77db', crop: :fill %>')">

  <div class="banner-content">
    <h1>Cocktail Bar</h1>
    <p>The Best Cocktail Manager</p>
  </div>
</div>
