<div class="navbar-wagon">
  <!-- Logo -->
    <%= link_to "Funky Cocktail", cocktails_path, class: "navbar-wagon-brand" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <div class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Add a Cocktail", new_cocktail_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>
